body{
    text-align: center;
    background-color: rgb(151, 151, 151);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#dice-container{
    padding: 20px;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 30px;
    background-color: rgb(196, 196, 196);
    border-radius: 10px;
}

#diceResult{
    margin: 10px;
}

#diceImages img{
    width: 80px;
    margin: 5px;
}

input{
    padding: 10px 10px;
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
    border: none;
    transition: background-color 0.5s;
}

input:hover{
    background-color: rgb(219, 219, 219);
}

button{
    font-weight: 900;
    margin: 10px;
    padding: 10px 75px;
    border: none;
    background-color: rgb(80, 160, 133);
    color: aliceblue;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 1s;
    transition: color 0.5s;
}

button:hover{
    color: black;
    background-color: rgb(92, 194, 194);
}

label{
    font-weight: 700;
    margin-bottom: 20px;
}